<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Human Social Advisor </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    </head>
    <body>
        <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">mySocial</a>
          <a href = "#"><img src = "Webp.net-resizeimage (1).png" href="#" class = "logo"></img></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://social-advisor-frontend.herokuapp.com/">Home</a></li>
            <li><a href="https://social-advisor-frontend.herokuapp.com/login">Login</a></li>
            <li><a href="https://social-advisor-frontend.herokuapp.com/register">Register</a></li>
          </ul>
        </div>
        </nav>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="css/js/materialize.min.js"></script>
    </body>
</html>
