<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Human Social Advisor </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Import Google Icon Font-->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="http://localhost:8008/css/materialize.min.css"  media="screen,projection"/>
    <link rel = "stylesheet" href = "http://localhost:8008/scripts/lib/jquery.upvote.css">
    <style>
    /* fallback */
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(http://localhost:8008/fonts/material-icons.woff2) format('woff2');
    }

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
    }
    #report{
        float: right;
    }
    #left{
        float:left;
    }
    #right{
        overflow: hidden;
    }

    .commentpp{
        padding: 10px;
        border-radius: 40px;
    }
    #answerContainer{
        height: 200px;
    }
    body,html{
        height:100%;
    }
    #topic{
        /*height:400px;*/
        display: table-cell;
    }
    .upvote{
        float: left;
        padding:15px;
        height:200px;
    }

    .mylink{
        height:64px;
    }
    #tagLinks{
        display: block;
    }
    .myimg{
        margin-top:7px;
    }
    .active-upvote{
        color: #339933;
    }

    .btn-vote:hover{
        color: #339933;
    }
    #comments{
        font-size: 10pt;
        display: table-cell;
    }

    #form1{
        margin-left:200px;
    }
    #autocomplete-input:hover{
        outline: none;
        box-shadow: 0px 0px 5px #d3d3d3;
        background-color: #fff;
        border:1px solid #d3d3d3;
    }

    #autocomplete-input:focus{
        outline: none;
        box-shadow: 0px 0px 5px #d3d3d3;
        background-color: #fff;
        border:1px solid #d3d3d3;
    }


    #search{
        position: relative;
        margin-right: 300px;
    }
    #autocomplete-input{
        width:90%;
    }
    .side-nav li a {
        text-decoration:none;
    }
    #searchResults2{
        background-color:#666666;
    }
    #searchResults{
        background-color:#666666;
    }
    .right li a{
        padding-right:2em;
        text-decoration:none
    }


    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=title]:focus + label,
    .input-field input[type=description]:focus + label {
        color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=title]:focus,
    .input-field input[type=description]:focus {
        border-bottom: 2px solid #e91e63;
        box-shadow: none;
    }


    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">mySocial</a>
            <a href = "#"><img src = "http://localhost:8008/Webp.net-resizeimage (1).png" href="#" class = "logo"></img></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <div class="center row">
                        <div class="col s12 " >
                            <div class="row" id="topbarsearch">
                                <div id ="search" class="input-field col s6 s12 white-text">
                                    <i class="white-text material-icons prefix">search</i>
                                    <input type="text" placeholder="Search for a certain keyword..." id="autocomplete-input" class="autocomplete black-text" >
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="http://localhost:8008/feed">Home</a></li>
                <li><a href="http://localhost:8008/ask">Ask</a></li>
                <li><a class = "mylink" href = "#"><img class = "myimg" src = "http://localhost:8008/rsz_notification.png"></img></a></li>
            </ul>

        </div>
    </nav>


    <div class="container">
        <div id = "problemData">
            <div class="row">

                <div class="input-field col s12">
                    <div id="topic" class="upvote">

                    </div>
                    <h4 id="title" type="text" required >
                    </h4>
                    <p id = "description"></p>
                    <div id = "tags">
                    </div>
                    <div id = "report">
                        <!-- <button id = "report_problem" class="reg btn btn-large btn-register waves-effect waves-light" name="action">Report Inappropriate
                            <i class="material-icons right"></i>
                        </button> -->
                        <a class="waves-effect waves-light btn modal-trigger" href="#report_popup">Report Inappropriate</a>
                        <!-- Modal Structure -->
                        <div id="report_popup" class="modal">
                          <div class="modal-content">
                            <h4>Report Inappropriate Content</h4>
                            <textarea placeholder="enter report description..." id="report-textarea" class="materialize-textarea"></textarea>
                            <label for="report-textarea" class='active'>Reason for Report</label>
                          </div>
                          <div class="modal-footer">
                            <a id = "reportSubmit" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
                          </div>
                        </div>
                    </div>
                    <div id = "contentContainer">
                        <div id = "comments">
                        </div>
                        <div id = "commentContainer"class="input-field col s6">
                            <textarea placeholder="add a comment..." id="comment-textarea" class="materialize-textarea"></textarea>
                            <label for="comment-textarea" class='active'>Comment</label>
                            <button id = "comment" class="reg btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Add Comment
                                <i class="material-icons right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id = "answers">
                <h5> Answers</h5>
            </div>
            <div class = "row">
                <div  class="input-field col s6" id = "yourAnswerContainer">

                    <textarea placeholder="Enter your answer..." id="answer-textarea" class="materialize-textarea"></textarea>
                    <label for="textarea1" class='active'>Answer</label>
                    <button id = "answer" class="reg btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Submit Answer
                        <i class="material-icons right"></i>
                    </button>
                </div>
            </div>
            <!-- <h5> Answers </h5>
            <textarea id="answer-textarea" class="materialize-textarea"></textarea>
            <label for="textarea1" class='active'>Answer</label>
            <div id = "answers" class="col s12">
        </div>
        <p id = "message"></p>
        <div class="input-field col s6">
        <button id = "answer" class="reg btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Submit Answer
        <i class="material-icons right"></i>
    </button>
</div> -->
<!-- </div> -->
</div>
</div>
<!--
<div class = "row">
<div class="input-field col s12">
<div id = "comments"class="col s12">
<h5> Comments</h5> <br>
<form class="col s12">

<div class="input-field col s12">
<textarea id="comment-textarea" class="materialize-textarea"></textarea>
<label for="textarea1" class='active'>Comment</label>
</div>
<div class="cen">

<div class = "cen">
<p id = "message"></p>
<div class="input-field col s6">
<button id = "comment" class="reg btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Add Comment
<i class="material-icons right"></i>
</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>



<br>



<div class="row">
<div id = "answers" class="col s12">
<h5> Answers </h5>
<h5>Your Answer:</h5>
<form class="col s12">
<div class="row">
<div class="input-field col s12">
<textarea id="answer-textarea" class="materialize-textarea"></textarea>
<label for="textarea1" class='active'>Answer</label>
</div>
</div>
</form>
<div class="cen">
<p id = "message"></p>
<div class="input-field col s6">
<button id = "answer" class="reg btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Submit Answer
<i class="material-icons right"></i>
</button>
</div>

</div>
</div>
</div> -->

<!-- <base href = "/public"> -->
<script type="text/javascript" src="http://localhost:8008/scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8008/jquery.cookie.js"></script>
<script type="text/javascript" src="http://localhost:8008//css/js/materialize.min.js"></script>
<script type="text/javascript" src="http://localhost:8008//scripts/lib/jquery.upvote.js"></script>
<script type="text/javascript" src="http://localhost:8008//scripts/problem.js"></script>



</body>
</html>
