<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Human Social Advisor </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://social-advisor-frontend.herokuapp.com/css/materialize.min.css"  media="screen,projection"/>
  <style>
  .mylink{
     height:64px;
  }
  .myimg{
      margin-top:7px;
  }
  .active-upvote{
      color: #339933;
  }

  .btn-vote:hover{
      color: #339933;
  }

#comments{
    font-size: 10pt;
}

  #form1{
margin-left:200px;
}
#autocomplete-input:hover{
outline: none;
box-shadow: 0px 0px 5px #d3d3d3;
background-color: #fff;
border:1px solid #d3d3d3;
}

#autocomplete-input:focus{
outline: none;
box-shadow: 0px 0px 5px #d3d3d3;
background-color: #fff;
border:1px solid #d3d3d3;
}


#search{
position: relative;
margin-right: 300px;
}
#autocomplete-input{
width:90%;
}
.side-nav li a {
text-decoration:none;
}
#searchResults2{
background-color:#666666;
}
#searchResults{
background-color:#666666;
}
.right li a{
padding-right:2em;
text-decoration:none
}


.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=title]:focus + label,
.input-field input[type=description]:focus + label {
color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=title]:focus,
.input-field input[type=description]:focus {
border-bottom: 2px solid #e91e63;
box-shadow: none;
}


  </style>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">mySocial</a>
      <a href = "#"><img src = "https://social-advisor-frontend.herokuapp.com/Webp.net-resizeimage (1).png" href="#" class = "logo"></img></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
                 <div class="center row">
                    <div class="col s12 " >
                      <div class="row" id="topbarsearch">
                        <div id ="search" class="input-field col s6 s12 white-text">
                          <i class="white-text material-icons prefix">search</i>
                          <input type="text" placeholder="Search for a certain keyword..." id="autocomplete-input" class="autocomplete black-text" >
                          </div>
                        </div>
                      </div>
                    </div>
                </li>
        <li><a href="https://social-advisor-frontend.herokuapp.com/feed">Home</a></li>
        <li><a href="https://social-advisor-frontend.herokuapp.com/ask">Ask</a></li>
        <li><a class = "mylink" href = "#"><img class = "myimg" src = "https://social-advisor-frontend.herokuapp.com/rsz_notification.png"></img></a></li>
      </ul>

    </div>
    </nav>








<div class="container">

      <div class="row">
        <div class="input-field col s12">
          <h4 id="title" type="text" required >
          </h4>
          <br>
          <p id = "description"></p>
          <a ><i id = "active" class="material-icons btn-vote">verified_user</i></a>
        </div>
      </div>


      <div class="row">
            <div id = "comments"class="col s12">
                <h5> Comments</h5> <br>
            </div>
     </div>


      <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="comment-textarea" class="materialize-textarea"></textarea>
                  <label for="textarea1" class='active'>Comment</label>
                </div>
              </div>
            </form>
     </div>


     <div class="cen">

        <div class = "cen">
           <p id = "message"></p>
           <div class="input-field col s6">
             <button id = "comment" class="reg btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Add Comment
               <i class="material-icons right"></i>
             </button>
           </div>
       </div>
     </div>

     <br>



      <div class="row">
             <div id = "answers" class="col s12">
                 <h5> Answers </h5> <br>
             </div>
      </div>


     <h5>Your Answer:</h5>
     <div class="row">
           <form class="col s12">
             <div class="row">
               <div class="input-field col s12">
                 <textarea id="answer-textarea" class="materialize-textarea"></textarea>
                 <label for="textarea1" class='active'>Answer</label>
               </div>
             </div>
           </form>
    </div>
    <div class="cen">

       <div class = "cen">
          <p id = "message"></p>
          <div class="input-field col s6">
            <button id = "answer" class="reg btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Submit Answer
              <i class="material-icons right"></i>
            </button>
          </div>
      </div>
    </div>
    <br> <br>


</div>



    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://social-advisor-frontend.herokuapp.com/scripts/problem.js"></script>
    <script type="text/javascript" src="https://social-advisor-frontend.herokuapp.com/css/js/materialize.min.js"></script>
</body>
</html>
