<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> Human Social Advisor </title>
    <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->

  <link type="text/css" rel="stylesheet" href="http://localhost:8008/css/materialize.min.css"  media="screen,projection"/>
<link rel ="stylesheet" href = "/styles/user.css">
  <style>
  .mylink{
     height:64px;
  }
  .myimg{
      margin-top:7px;
      margin-left:7px;
  }
  #form1{
margin-left:200px;
}
#current-user{
    display: inline-block;

    height: 64px;
}
#profile-pic{
    margin-left:550px;
    position:relative;
}
#user-profile{
    display: inline-block;
        margin:0;
}
#user-profile p{
    margin-left:560px;
}
#user-img{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 100px;
}

#pp{
    margin-left:550px;
    border-radius: 20px;
    border: 10px;
}
#upload{
    margin-left:550px;
}
.active-upvote{
color: #339933;
}

.btn-vote:hover{
color: #339933;
}


#autocomplete-input:hover{
outline: none;
box-shadow: 0px 0px 5px #d3d3d3;
background-color: #fff;
border:1px solid #d3d3d3;
}

#autocomplete-input:focus{
outline: none;
box-shadow: 0px 0px 5px #d3d3d3;
background-color: #fff;
border:1px solid #d3d3d3;
}


#search{
position: relative;
margin-right: 300px;
}
#autocomplete-input{
width:80%;
}
.side-nav li a {
text-decoration:none;
}
#searchResults2{
background-color:#666666;
}
#searchResults{
background-color:#666666;
}
.right li a{
padding-right:2em;
text-decoration:none
}
#current-user{
    display: inline-block;
    margin: 0;
    width:160px;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=title]:focus + label,
.input-field input[type=description]:focus + label {
color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=title]:focus,
.input-field input[type=description]:focus {
border-bottom: 2px solid #e91e63;
box-shadow: none;
}


  </style>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">mySocial</a>
      <a href = "#"><img src = "http://localhost:8008/Webp.net-resizeimage (1).png" href="#" class = "logo"></img></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>


                      <div class="row" id="topbarsearch">
                        <div id ="search" class="input-field col s6 s12 white-text">
                          <i class="white-text material-icons prefix">search</i>
                          <input type="text" placeholder="Search for a certain keyword..." id="autocomplete-input" class="autocomplete black-text" >
                          </div>
                        </div>

                </li>

      </ul>

    </div>
    </nav>




    <br>
    <aside class="profile-card">
  <header>
    <!-- here’s the avatar -->

    <a target="_blank" href="#">
      <img class="hoverZoomLink">
      <a id = "edit-pic" class="waves-effect waves-teal btn-flat">Change Profile Picture</a>
    </a>

    <input id = "profile-pic" type="file" name="datafile">


    <!-- the username -->
    <h1 id = "username">

          </h1>

    <!-- and role or location -->
    <h2 id = "first_last_name">

          </h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>
      It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
    </p>

  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">
    <li>
      <a target="_blank" href="https://www.facebook.com/creativedonut">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/dropyourbass">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/vipulsaxena">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.behance.net/vipulsaxena">

        <i class="fa fa-behance"></i>
      </a>
    </li>
  </ul>
</aside>


<!--
    <div id = "user-profile">
        <img id ="pp" src="http://localhost:8008/rsz_blank-profile-picture-973460_640.png"></img><br>
        <label><input id = "profile-pic" type="file" name="datafile"></label>
        <p id = "first-name"></p>
        <p id = "last-name"></p>
        <p id = "username"></p>
    </div>
-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type = "text/javascript" src="http://localhost:8008/jquery.cookie.js"></script>
    <script type="text/javascript" src="http://localhost:8008/css/js/materialize.min.js"></script>
    <script type="text/javascript" src="http://localhost:8008/scripts/profile.js"></script>
    <script type="text/javascript" src="http://localhost:8008/scripts/logout.js"></script>

</body>
</html>
